.carImage > img{
    width: 50%;
    overflow: hidden;
    height: fit-content;
}

.carContainer{
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.carDescription{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-left: 17%;
}