.header{
    margin-top: 5%;
}

.headerIMG{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: .5;
}

.easyBidIntro{
    position: absolute;
    top: 25%;
    padding: 30px;
    margin-left: 25%;
}
